<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Primary Administrator" />
      <allow roles="Administrators" />
      <allow roles="Facility Administrators" />
      <allow roles="Teachers" />
      <allow roles="SwingModel Specials"/>
      <allow roles="Equipment Specials"/>
      <deny roles="Golfers" />
      <deny users="?" />
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>