<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>3e32f259-c85c-4ecd-aa23-8c9c65a9929c-MyDimensions.plist</string>
	<string>3e32f259-c85c-4ecd-aa23-8c9c65a9929c-MyGolf.plist</string>
	<string>3e32f259-c85c-4ecd-aa23-8c9c65a9929c-Videos.plist</string>
	<string>3e32f259-c85c-4ecd-aa23-8c9c65a9929c-Shares.plist</string>
	<string>3e32f259-c85c-4ecd-aa23-8c9c65a9929c-Errors.plist</string>
</array>
</plist>
